{% extends "index.html" %}

{% block title %}添加用例{% endblock %}

{% block content %}
<div class="page-header">
    <h1>结果详情
    </h1>
</div>
<table class="table">
    <thead>
    <tr>
        <th>testId</th>
        <th>log_txt</th>
        <th>img_url</th>
    </tr>
    </thead>
    <tbody>
    {% for details in details %}

    <tr>
        <td>{{details.testId}}</td>
        <td>{{details.log_txt}}</td>
        <td>
        <img src=" {{details.img_url}}" class="img-rounded">
        </td>
    </tr>

    {% endfor %}
    </tbody>

</table>

{% endblock %}